.header {
  background-color: #1e1e2f; 
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
  color: #61dafb; 
}

.informacoes {
  justify-content: center;
  align-items: center;
  gap: 70px; 
  margin-top: 10px;
  font-size: 1.2rem;
}

.informacoes p {
  margin: 0;
}

.informacoes span {
  font-weight: bold;
  color: #ffd700; 
}

.tempo {
  font-weight: bold;
  color: #ffd700;
}
